/* Configurações gerais */


	
#conteudoGeral{
		font-family:"Raleway", Sans-Serif;
		border:0px;
		margin:0 auto;
		
}

body, html{
	background-color:#FCF8E5;
	margin:0;
}

a{
	color:#fff;
	text-decoration:none;
}