/* Configurações do fundo */

*{
	font-family:"Raleway", Sans-Serif;
	font-size:14px;
}
	
#rodapePagina{
	background-color: #76360B;
	height: 50px;
	width: 100%;
	
}

#rodapeConteudo{
	
		background-color:#5C3317;
		width:960px;
}
