/* Configurações do fundo */

*{
	font-family: "Raleway", Sans-Serif;
	font-size: 14px;
}
	
#rodapePagina{
	background-color: #76360B;
	height: 50px;
	width: 100%;
	
}

#rodapeConteudo{
	padding-top:15px;
	color:#dfcea1;
	width:960px;
}
