/* Configurações do setor Secundário */


#setorSecundario{
	margin-bottom:30px;
	font-family:"Raleway", Sans-Serif;
	color:#5C3317;
	font-size:16px;
	margin-top: 15px;
	width:940px;
}

.atencao{
	margin-top:30px;
	font-size:22px;
	color:#B13A04;
	width:940px;
	
}